.wrapper {
    grid-area: l;
    display: grid;
    grid-auto-columns: 1fr 2fr;
    grid-template-areas: 'i t';
    padding-left: 10px;
}

.wrapper .image  img {
    grid-area: i;
    margin-top: 7px;
    width: 65px;
    height: 65px;
}

.wrapper .title {
    grid-area: t;
    margin-top: 10px;
    margin-left: 3px;
}

.title img{
    height: 45px;
}
